{
  "x-generator": "NSwag v14.1.0.0 (NJsonSchema v11.0.2.0 (Newtonsoft.Json v13.0.0.0))",
  "openapi": "3.0.0",
  "info": {
    "title": "Dofus Batteries Included API - Identity",
    "description": "Manage identities.",
    "version": "0.0.0-alpha.0"
  },
  "servers": [
    {
      "url": "https://api.dofusbatteriesincluded.fr"
    }
  ],
  "paths": {
    "/identity/register": {
      "post": {
        "tags": [
          "Registration"
        ],
        "operationId": "Registration_Register",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "accountName",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "guid"
                }
              }
            }
          }
        }
      }
    },
    "/identity/refresh": {
      "post": {
        "tags": [
          "Registration"
        ],
        "operationId": "Registration_RefreshApiKey",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "guid"
                }
              }
            }
          }
        },
        "security": [
          {
            "API key": []
          }
        ]
      }
    },
    "/identity/revoke": {
      "post": {
        "tags": [
          "Registration"
        ],
        "operationId": "Registration_Revoke",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "API key": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "API key": {
        "type": "apiKey",
        "description": "Please enter your API key.",
        "name": "Authorization",
        "in": "header"
      }
    }
  }
}